.active_tmp_btn{
    background-color: #e3f2fd !important;
}

.type_temp_div{

}
.ir_w_50{
    width: 50% !important;
}
.ir_w_m_b_4{
    margin-bottom: 5px !important;
}

@media (max-width: 767px) {
    .order_table_holder .order_holder .single_order .single_order_column .fa-pencil-alt{
        font-size:30px !important;
    }
}

@media (max-width: 1301px) and (min-width: 768px) {
    .order_table_holder .order_holder .single_order .single_order_column .fa-pencil-alt{
        font-size:30px !important;
    }
}
.logout_btn_online_order_css{
    color: white;
    text-decoration: none;
}